.reveal .slides section {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

code {
  background-color: rgba(200, 200, 200, 0.25);
  /* 更淡的灰 */
  font-family: Consolas, 'Courier New', monospace;
  font-size: 0.95em;
  padding: 0.1em 0.4em;
  /* ⬅️ 上下更窄，左右不变 */
  border-radius: 4px;
  font-weight: bold;
}

.reveal blockquote {
  max-width: 90%;
  /* 你可以调大，比如 100% 或者具体像素 */
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
  /* 根据需要调整内边距 */
  font-size: 0.8em;
  /* 放大一点字体，非必须 */
  border-left: 5px solid #ccc;
  /* 可调整左边的引号线样式 */
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none !important;
}

:root {
  --r-main-font: 
    /* "JetBrains Mono", */
    "Noto Serif SC",
    "Noto Sans SC",
    "PingFang SC",
    "Microsoft YaHei",
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.reveal pre,
.reveal code {
  font-family: "JetBrains Mono", "Noto Serif SC",
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}