/* noto-serif-100 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 100;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-100italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 100;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-200 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 200;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-200italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 200;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-300 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-300italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 300;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-regular - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-500 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-500italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-600 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-600italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 600;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-700 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-700italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-800 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-800italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-900 - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-900italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}