/* noto-serif-regular - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-italic - math */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Math';
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0030-0039, U+002C, U+002E, U+003A, U+002D;
  src: url('fonts/noto-serif-v33-math-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}