/* 100 Thin */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 100 Thin Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* 200 ExtraLight */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* 200 ExtraLight Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* 300 Light */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 300 Light Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* 400 Regular */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 400 Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 500 Medium */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 500 Medium Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* 600 SemiBold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 600 SemiBold Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* 700 Bold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 700 Bold Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 800 ExtraBold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 800 ExtraBold Italic */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/webfonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}